.project-c-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: $project-size-login-form-max-width;
  min-width: $project-size-login-form-max-width;
  width: 100%;
  margin: 0 auto;
  background-color: $project-color-white;
  box-shadow: $project-c-shadow-default;
  border-radius: $project-radius;
  border: 1px solid $project-color-gray-01;
  padding: $project-gutter-lg;
  position: relative;
}

.project-c-login__input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $project-gutter-md;
  justify-content: space-between;
}
