.project-u-p-default {
  padding: $project-gutter;
}

.project-u-p-none {
  padding: 0px;
}

.project-u-p-sm {
  padding: $project-gutter-sm;
}

.project-u-p-md {
  padding: $project-gutter-md;
}

.project-u-p-xs {
  padding: $project-gutter-xs;
}

.project-u-p-lg {
  padding: $project-gutter-lg;
}

.project-u-p-xl {
  padding: $project-gutter-xl;
}

.project-u-pt-none {
  padding-top: 0;
}

.project-u-pt-default {
  padding-top: $project-gutter;
}

.project-u-pt-xs {
  padding-top: $project-gutter-xs;
}

.project-u-pt-sm {
  padding-top: $project-gutter-sm;
}

.project-u-pt-lg {
  padding-top: $project-gutter-lg;
}

.project-u-pt-xl {
  padding-top: $project-gutter-xl;
}

.project-u-pt-md {
  padding-top: $project-gutter-md;
}

.project-u-pl-lg {
  padding-left: $project-gutter-lg;
}

.project-u-pl-xl {
  padding-left: $project-gutter-xl;
}

.project-u-pl-xxl {
  padding-left: $project-gutter-xxl;
}

.project-u-pl-sm {
  padding-left: $project-gutter-sm;
}

.project-u-pl-md {
  padding-left: $project-gutter-md;
}

.project-u-pl-075 {
  padding-left: $project-gutter-075;
}

.project-u-pr-075 {
  padding-right: $project-gutter-075;
}

.project-u-pr-xxl {
  padding-right: $project-gutter-xxl;
}

.project-u-pl-default {
  padding-left: $project-gutter;
}

.project-u-pr-default {
  padding-right: $project-gutter;
}

.project-u-pr-xl {
  padding-right: $project-gutter-xl;
}

.project-u-pr-sm {
  padding-right: $project-gutter-sm;
}

.project-u-pr-lg {
  padding-right: $project-gutter-lg;
}

.project-u-pb-075 {
  padding-bottom: $project-gutter-075;
}

.project-u-pb-default {
  padding-bottom: $project-gutter;
}

.project-u-pb-md {
  padding-bottom: $project-gutter-md;
}

.project-u-pb-sm {
  padding-bottom: $project-gutter-sm;
}

.project-u-pb-xs {
  padding-bottom: $project-gutter-xs;
}

.project-u-pb-xxl {
  padding-bottom: $project-gutter-xxl;
}

.project-u-pb-lg {
  padding-bottom: $project-gutter-lg;
}

.project-u-ph-xl {
  padding-left: $project-gutter-xl;
  padding-right: $project-gutter-xl;
}

.project-u-ph-xxl {
  padding-left: $project-gutter-xxl;
  padding-right: $project-gutter-xxl;
}

.project-u-ph-default {
  padding-left: $project-gutter;
  padding-right: $project-gutter;
}

.project-u-ph-sm {
  padding-left: $project-gutter-sm;
  padding-right: $project-gutter-sm;
}

.project-u-ph-md {
  padding-left: $project-gutter-md;
  padding-right: $project-gutter-md;
}

.project-u-ph-075 {
  padding-left: $project-gutter-075;
  padding-right: $project-gutter-075;
}

.project-u-ph-lg {
  padding-left: $project-gutter-lg;
  padding-right: $project-gutter-lg;
}

.project-u-ph-lg-half {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.project-u-ph-xs {
  padding-left: $project-gutter-xs;
  padding-right: $project-gutter-xs;
}

.project-u-ph-none {
  padding-left: 0;
  padding-right: 0;
}

.project-u-pv-lg {
  padding-top: $project-gutter-lg;
  padding-bottom: $project-gutter-lg;
}

.project-u-pv-075 {
  padding-top: $project-gutter-075;
  padding-bottom: $project-gutter-075;
}

.project-u-pv-md {
  padding-top: $project-gutter-md;
  padding-bottom: $project-gutter-md;
}

.project-u-pv-default {
  padding-top: $project-gutter;
  padding-bottom: $project-gutter;
}

.project-u-pv-sm {
  padding-top: $project-gutter-sm;
  padding-bottom: $project-gutter-sm;
}

.project-u-pv-xs {
  padding-top: $project-gutter-xs;
  padding-bottom: $project-gutter-xs;
}

.project-u-ph-none {
  padding-left: 0;
  padding-right: 0;
}

.project-u-ph-default--overwrite-none {
  .project-u-ph-none {
    padding-left: $project-gutter;
    padding-right: $project-gutter;
  }
}

.project-u-mr-none {
  margin-right: 0;
}

.project-u-mh-none {
  margin-left: 0;
  margin-right: 0;
}

.project-u-mh-auto {
  margin-right: auto;
  margin-left: auto;
}

.project-u-mr-auto {
  margin-right: auto;
}

.project-u-mr-default {
  margin-right: $project-gutter;
}

.project-u-mr-xl {
  margin-right: $project-gutter-xl;
}

.project-u-mr-xxl {
  margin-right: $project-gutter-xxl;
}

.project-u-mr-lg {
  margin-right: $project-gutter-lg;
}

.project-u-ml-lg {
  margin-left: $project-gutter-lg;
}

.project-u-ml-auto {
  margin-left: auto;
}

.project-u-mr-sm {
  margin-right: $project-gutter-sm;
}

.project-u-mr-md {
  margin-right: $project-gutter-md;
}

.project-u-mr-xs {
  margin-right: $project-gutter-xs;
}

.project-u-ml-md {
  margin-left: $project-gutter-md;
}

.project-u-ml-default {
  margin-left: $project-gutter;
}

.project-u-ml-auto {
  margin-left: auto;
}

.project-u-ml-xs {
  margin-left: $project-gutter-xs;
}

.project-u-ml-sm {
  margin-left: $project-gutter-sm;
}

.project-u-ml-xl {
  margin-left: $project-gutter-xl;
}

.project-u-mb-none {
  margin-bottom: 0;
}

.project-u-mb-auto {
  margin-bottom: auto;
}

.project-u-m-default {
  margin: $project-gutter;
}

.project-u-m-xs {
  margin: $project-gutter-xs;
}

.project-u-my-lg {
  margin-top: $project-gutter-lg;
  margin-bottom: $project-gutter-lg;
}

.project-u-mt-default {
  margin-top: $project-gutter;
}

.project-u-mt-none {
  margin-top: 0;
}

.project-u-mt-auto {
  margin-top: auto;
}

.project-u-mt-xs {
  margin-top: $project-gutter-xs;
}

.project-u-mt-sm {
  margin-top: $project-gutter-sm;
}

.project-u-mt-075 {
  margin-top: $project-gutter-075;
}

.project-u-mt-md {
  margin-top: $project-gutter-md;
}

.project-u-mt-lg {
  margin-top: $project-gutter-lg;
}

.project-u-mt-xl {
  margin-top: $project-gutter-xl;
}

.project-u-mt-xs-negative {
  margin-top: -$project-gutter-xs;
}

.project-u-my-auto {
  margin: auto 0;
}

.project-u-mx-auto {
  margin: 0 auto;
}

.project-u-mt-md-negative {
  margin-top: -$project-gutter-md;
}

.project-u-ml-negative {
  margin-left: -$project-gutter;
}

.project-u-mr-negative-sm {
  margin-right: -$project-gutter-sm;
}

.project-u-mb-xs-negative {
  margin-bottom: -$project-gutter-xs;
}

.project-u-mb-md-negative {
  margin-bottom: -$project-gutter-md;
}

.project-u-mh-lg-negative {
  margin-left: -$project-gutter-lg;
  margin-right: -$project-gutter-lg;
}

.project-u-mb-sm-except-last {
  &:not(:last-child) {
    margin-bottom: $project-gutter-sm;
  }
}

.project-u-mb-default-except-last {
  &:not(:last-child) {
    margin-bottom: $project-gutter;
  }
}

.project-u-ml-default-except-first {
  &:not(:first-child) {
    margin-left: $project-gutter;
  }
}

.project-u-ml-default-first {
  > :first-child {
    margin-left: $project-gutter;
    margin-right: $project-gutter;
  }
}

.project-u-mr-sm-except-last {
  &:not(:last-child) {
    margin-right: $project-gutter-sm;
  }
}

.project-u-mb-default-except-last {
  &:not(:last-child) {
    margin-bottom: $project-gutter;
  }
}

.project-u-lg-default-except-last {
  &:not(:last-child) {
    margin-bottom: $project-gutter-lg;
  }
}

.project-u-mb-default {
  margin-bottom: $project-gutter;
}

.project-u-mb-md {
  margin-bottom: $project-gutter-md;
}

.project-u-mb-075 {
  margin-bottom: $project-gutter-075;
}

.project-u-mb-sm {
  margin-bottom: $project-gutter-sm;
}

.project-u-mb-xs {
  margin-bottom: $project-gutter-xs;
}

.project-u-mb-xl {
  margin-bottom: $project-gutter-xl;
}

.project-u-mb-xxl {
  margin-bottom: $project-gutter-xxl;
}

.project-u-mb-lg {
  margin-bottom: $project-gutter-lg;
}

.project-u-mx {
  margin: 0 $project-gutter;
}

.project-u-mx-sm {
  margin-left: $project-gutter-sm;
  margin-right: $project-gutter-sm;
}

.project-u-mx-xs {
  margin-left: $project-gutter-xs;
  margin-right: $project-gutter-xs;
}

.project-u-mx-default {
  margin-left: $project-gutter;
  margin-right: $project-gutter;
}

.project-u-my-sm {
  margin-top: $project-gutter-sm;
  margin-bottom: $project-gutter-sm;
}

.project-u-my-default {
  margin-top: $project-gutter;
  margin-bottom: $project-gutter;
}

.project-u-mx-075-negative {
  margin-left: -$project-gutter-075;
  margin-right: -$project-gutter-075;
}

.project-u-m-none {
  margin: 0;
}

.project-u-uppercased {
  text-transform: uppercase;
}

.project-u-capitalized {
  text-transform: capitalize;
}

.project-u-italic {
  font-style: italic;
}

.project-u-text-underlined {
  text-decoration: underline;
  text-decoration-color: currentColor;
}

.project-u-text-bold {
  font-weight: bold;
}

.project-u-text-ellipsis {
  @include text-ellipsis;
}

.project-u-text-center {
  text-align: center;
}

.project-u-text-right {
  text-align: right;
}

.project-u-text-left {
  text-align: left;
}

.project-u-text-justify {
  text-align: justify;
}

.project-u-nowrap {
  white-space: nowrap;
}

.project-u-font-size-xs {
  font-size: $project-font-size-xs;
}

.project-u-font-size-sm {
  font-size: $project-font-size-sm;
}

.project-u-font-size-md {
  font-size: $project-font-size-md;
}

.project-u-font-size-lg {
  font-size: $project-font-size-lg;
}

.project-u-font-size-stack {
  font-size: $project-font-size-stack;
}

.project-u-font-size-xl {
  font-size: $project-font-size-xl;
}

.project-u-font-size-xxl {
  font-size: $project-font-size-xxl;
}

.project-u-line-height-sm {
  line-height: $project-font-line-height-sm;
}

.project-u-font-weight-normal {
  font-weight: normal;
}

.project-u-font-weight-bold {
  font-weight: bold;
}

.project-u-bg-current-color {
  background-color: currentColor;
}

.project-u-bg-white {
  background-color: $project-color-white;
}

.project-u-bg-gray {
  background-color: $project-color-gray;
}

.project-u-bg-gray-01 {
  background-color: $project-color-gray-01;
}

.project-u-bg-primary {
  background-color: $project-color-primary;
}

.project-u-color-primary {
  color: $project-color-primary;
}

.project-u-color-primary-light {
  color: $project-color-primary-light;
}

.project-u-color-black {
  color: $project-color-black;
}

.project-u-color-white {
  color: $project-color-white;
}

.project-u-color-secondary {
  color: $project-color-secondary;
}

.project-u-collor-gray-02 {
  color: $project-color-gray-02;
}

.project-u-color-secondary-light {
  color: $project-color-secondary-light;
}

.project-u-color-rose {
  color: $project-color-rose;
}

.project-u-color-gray-canceled {
  color: $project-color-gray-canceled;
}

.project-u-color-danger {
  color: $project-color-danger;
}

.project-u-color-warning {
  color: $project-color-warning;
}

.project-u-color-warning-dark {
  color: $project-color-warning-dark;
}

.project-u-color-gray-01 {
  color: $project-color-gray-01;
}

.project-u-color-gray-02 {
  color: $project-color-gray-02;
}

.project-u-color-unassigned {
  color: $project-color-unassigned;
}

.project-u-color-gray-03 {
  color: $project-color-gray-03;
}

.project-u-paragraph-color-gray {
  p {
    color: $project-color-gray-03;
  }
}

.project-u-color-brown-01 {
  color: $project-color-brown-01;
}

.project-u-color-cerise {
  color: $project-color-cerise;
}

.project-u-color-ocean-green {
  color: $project-color-ocean-green;
}

.project-u-color-teal {
  color: $project-color-teal;
}

.project-u-color-amber {
  color: $project-color-amber;
}

.project-u-color-gold {
  color: $project-color-gold;
}

.project-u-color-sky-blue {
  color: $project-color-sky-blue;
}

.project-u-color-gray-blue {
  color: $project-color-gray-blue;
}

.project-u-color-pink {
  color: $project-color-pink;
}

.project-u-color-blue-green {
  color: $project-color-blue-green;
}

.project-u-color-material-to-be-reviewed {
  color: $project-color-material-to-be-reviewed;
}

.project-u-display-flex {
  display: flex;
}

.project-u-flex-align-center {
  display: flex;
  align-items: center;
}

.project-u-align-start {
  align-items: flex-start;
}

.project-u-justify-end {
  display: flex;
  justify-content: flex-end;
}

.project-u-flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.project-u-flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.project-u-flex-justify-center {
  display: flex;
  justify-content: center;
}

.project-u-align-self-start {
  align-self: flex-start;
}

.project-u-align-self-center {
  align-self: center;
}

.project-u-align-self-end {
  align-self: flex-end;
}

.project-u-align-center {
  align-items: center;
}

.project-u-align-end {
  align-items: flex-end;
}

.project-u-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-u-justify-end {
  justify-content: flex-end;
}

.project-u-justify-space-between {
  justify-content: space-between;
}

.project-u-word-break {
  word-break: break-word;
}

.project-u-justify-space-evenly {
  justify-content: space-evenly;
}

.project-u-flex-justify-center {
  display: flex;
  justify-content: center;
}

.project-u-inline-flex {
  display: inline-flex;
}

.project-u-inline {
  display: inline;
}

.project-u-contents {
  display: contents;
}

.project-u-flex-wrap {
  flex-wrap: wrap;
}

.project-u-flex-grow {
  flex-grow: 1;
}

.project-u-flex-1-auto {
  flex: 1 1 auto;
}

.project-u-flex-1-0-auto {
  flex: 1 0 auto;
}

.project-u-flex-1 {
  flex: 1 1 0;
}

.project-u-flex-2 {
  flex: 2 1 0;
}

.project-u-flex-3 {
  flex: 3 1 0;
}

.project-u-flex-4 {
  flex: 4 1 0;
}

.project-u-flex-5 {
  flex: 5 1 0;
}

.project-u-flex-direction-column {
  flex-direction: column;
}

.project-u-display-block {
  display: block;
}

.project-u-display-inline-block {
  display: inline-block;
}

.project-u-display-none {
  display: none;
}

.project-u-position-relative {
  position: relative;
}

.project-u-position-absolute {
  position: absolute;
}

.project-u-position-sticky-top {
  position: sticky;
  top: 0;
}

.project-u-position-bottom-left {
  top: 100%;
  left: 0;
}

.project-u-position-bottom-right {
  right: 0%;
}

.project-u-position-bottom-0 {
  bottom: 0px;
}

.project-u-cursor-pointer {
  cursor: pointer;
}

.project-u-cursor-default {
  cursor: default !important;
}

.project-u-cursor-disabled {
  cursor: not-allowed;
}

.project-u-radius-pill {
  border-radius: $project-radius-pill;
}

.project-u-width-full {
  width: 100%;
}

.project-u-width-fit-content {
  width: fit-content;
}

.project-u-width-half {
  width: 50%;
}

.project-u-height-full {
  height: 100%;
}

.project-u-input-height-lg {
  height: $project-size-input-lg;
}

.project-u-input-height-sm {
  height: $project-size-input-sm;
}

.project-u-full-size {
  width: 100%;
  height: 100%;
}

.project-u-min-height-100 {
  min-height: 100%;
}

.project-u-width-min-width-3 {
  width: 3rem;
  min-width: 3rem;
  max-width: 3rem;
}

.project-u-width-min-width-4 {
  width: 4rem;
  min-width: 4rem;
  max-width: 4rem;
}

.project-u-width-min-width-5 {
  width: 5rem;
  min-width: 5rem;
  max-width: 5rem;
}

.project-u-width-min-width-6 {
  width: 6rem;
  min-width: 6rem;
  max-width: 6rem;
}

.project-u-width-min-width-7 {
  width: 7rem;
  min-width: 7rem;
  max-width: 7rem;
}

.project-u-width-min-width-8 {
  width: 8rem;
  min-width: 8rem;
  max-width: 8rem;
}

.project-u-width-min-width-9 {
  width: 9rem;
  min-width: 9rem;
  max-width: 9rem;
}

.project-u-width-min-width-10 {
  width: 10rem;
  min-width: 10rem;
  max-width: 10rem;
}

.project-u-width-min-width-11 {
  width: 11rem;
  min-width: 11rem;
  max-width: 11rem;
}

.project-u-width-min-width-12 {
  width: 12rem;
  min-width: 12rem;
  max-width: 12rem;
}

.project-u-width-min-width-13 {
  width: 13rem;
  min-width: 13rem;
  max-width: 13rem;
}

.project-u-width-min-width-14 {
  width: 14rem;
  min-width: 14rem;
  max-width: 14rem;
}

.project-u-width-min-width-15 {
  width: 15rem;
  min-width: 15rem;
  max-width: 15rem;
}

.project-u-width-min-width-16 {
  width: 16rem;
  min-width: 16rem;
  max-width: 16rem;
}

.project-u-width-min-width-17 {
  width: 17rem;
  min-width: 17rem;
  max-width: 17rem;
}

.project-u-width-min-width-19 {
  width: 19rem;
  min-width: 19rem;
  max-width: 19rem;
}

.project-u-width-min-width-20 {
  width: 20rem;
  min-width: 20rem;
  max-width: 20rem;
}

.project-u-width-min-width-22 {
  width: 22rem;
  min-width: 22rem;
  max-width: 22rem;
}

.project-u-width-min-width-25 {
  width: 25rem;
  min-width: 25rem;
  max-width: 25rem;
}

.project-u-width-min-width-28 {
  width: 28rem;
  min-width: 28rem;
  max-width: 28rem;
}

.project-u-width-min-width-30 {
  width: 30rem;
  min-width: 30rem;
  max-width: 30rem;
}

.project-u-width-max-width-7 {
  max-width: 7rem;
}

.project-u-width-max-width-9 {
  max-width: 9rem;
}

.project-u-width-max-width-35 {
  max-width: 35rem;
}

.project-u-min-width-0 {
  min-width: 0;
}

.project-u-max-height-10 {
  max-height: 10rem;
}

.project-u-overflow-auto {
  overflow: auto;
}

.project-u-border-bottom-primary {
  border-bottom: 1px solid $project-color-primary;
}

.project-u-border-top-gray {
  border-top: 1px solid $project-color-gray-01;
}

.project-u-button-styles-clear {
  @include button-clear;
}

.project-u-border-bottom {
  border-bottom: 1px solid $project-color-gray-01;
}

.project-u-border-bottom-gray-02 {
  border-bottom: 1px solid $project-color-gray-02;
}

.project-u-border-left {
  border-left: 1px solid $project-color-gray-01;
}

.project-u-border-box {
  border: 1px solid $project-color-gray-01;
}

.project-u-border-box-danger {
  border: 1px solid $project-color-danger;
  border-radius: $project-radius-sm;
}

.project-u-border-box-sm-02 {
  border: 1px solid $project-color-gray-02;
  border-radius: $project-radius-sm;
}

.project-u-border-box-radius-sm {
  border: 1px solid $project-color-gray-01;
  border-radius: $project-radius-sm;
  background: $project-color-white;
}

.project-u-border-amber-2 {
  border: 2px solid $project-color-amber;
}

.project-u-border-danger {
  border: 1px solid $project-color-danger;
}

.project-u-zindex-2 {
  z-index: 2;
}

.project-u-max-width-38 {
  max-width: 38rem;
}

.project-u-list-style-none {
  list-style: none;
}

.project-u-opacity-50 {
  opacity: 0.5;
}

.project-u-icon-postion {
  top: 50%;
  right: $project-gutter-sm;
  transform: translateY(-50%);
}

.project-u-box-danger {
  border-radius: 4px;
  background: rgba(248, 47, 71, 0.1);
  padding: 1rem;
  margin-top: -1rem;
}
