/* Vivify Ideas - CSS variables */

/* Spacings */

$base-size:                           1rem;
$md-size:                             $base-size*1.5;

/* Colors */

$color-base:                         	#008B8B;
$color-white:                        	#FFFF;